@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    background-color: #E0F7FA;
}

h1 {
    margin: 25px;
    font-family: "Lato", serif;
}

h2 {
    color: #263238;
    font-family: "Lato", serif;
}

h3 {
    color: #263238;
    font-family: "Lato", serif;
}

p {
    color: #263238;
    font-family: "PT Sans", serif;
}

header {
    background-color: #009688;
    display: flex;
    margin: 0;
}

header img {
    max-width: 50px;
}

header button {
    width: 35px;
    height: 35px;
    margin: 5px;
}

#presentation {
    max-width: 1200px;
    background-color: #FF5722;
}

#presentation img {
    width: 100vw;
}

#purpouse {
    padding: 5px;
}

#catalog {
    display: flexbox;
}

.fruit-banner {
    padding: 25px;
    margin: 10px;
    background-color: #FF5722;
}

.fruit-banner img {
    margin: auto;
}

.fruit-header {
    text-align: center;
}

.fruit-facs {
    text-align: center;
}

footer {
    padding: 10px;
    background-color: #009688;
}